#hero-img {
    text-align: center;
}

h1, h2{
    margin-bottom: 2.5rem !important; 
    
}

#become-succ {
    height: auto;
    padding: 4rem;
}

#features {
    padding: 4rem;
    height: auto;
    background-color: rgb(245, 241, 241);
}

.card {
    border: 0.5px solid white !important;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 15%;
}

.footer {
    height: 130px;
}

#pricing {
    padding: 4rem;
    text-align: center;
}

.price-card{
    
    background: whitesmoke;
    text-align: center;
    padding: 2rem;
}

.plan-name {
    font-size: 2rem;
   
}

.price {
    font-size: 5rem;
}

#social{
    padding: 3rem;
    
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#white {
    color: white;
}

.about-content {
    padding: 3rem;
    padding-top: 6rem;
}
